<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JM-Chat</title>
</head>
<body>
    <h1>Yo! Sup man</h1>
    <a href="users/createAccount">
        <button>Create Account</button>
        <br><br>
    </a>
        <a href="users/loginAccount">
        <button>Login Account</button>
    </a>
</body>
</html>