<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JM-Chat</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/7.css">
    <link rel="stylesheet" href="css/style.css">
</head>
  <body>
      <h1>Welcome to JMChats!</h1>
      <a href="users/createAccount">
          <button>Create Account</button>
          <br><br>
      </a>
          <a href="users/loginAccount">
          <button>Login Account</button>
      </a>

      <!--chat feature when session is logged in -->
      <% if(user){ %>
          <p>Welcome to the chat <% user.username%>!</p>
          
          <a href="users/logout">
              <button>logout</button>
          </a>
          
          <%} else {%> 
              <p>Please login in to access chat</p>
              <% } %>

  <div class="window glass active">
    <div class="title-bar">
      <div class="title-bar-text">C-LOG</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <!--chat components starts here-->
    <div class="window-body has-space">
      <div class="chat-container">
        <div class="input-container">
          <textarea class="text-input" placeholder="Type message here..."></textarea>
          <button>Send</button>
        </div>
      
      </div>
    </div>

  </div>

  </body>
</html>